{% load static %}
<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}Hangman</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Jogo da Forca</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Início</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
