{% extends 'base.html' %}
{% block titulo %}
    Início
{% endblock %}
{% block content %}
    {% if perms.hangman.add_tema %}
        <a href="{% url 'cadastrar_tema' %}" class="btn btn-secondary">Adicionar Tema</a>
    {% endif %}
    {% if perms.hangman.add_palavra %}
        <a href="{% url 'cadastrar_palavra' %}" class="btn btn-secondary">Adicionar Palavra</a>
    {% endif %}
    {% for tema in tema_list %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ tema.nome }}
                    {% for qtd_tema, qtd_palavras in qtd_palavras.items %}
                        {% if tema == qtd_tema %}
                            (palavras disponíveis: {{ qtd_palavras }})
                        {% endif %}
                    {% endfor %}
                </h5>
                <p class="card-text">Por: {{ tema.professor }}</p>
                <a href="{% url 'jogo' tema_id=tema.pk %}" class="btn btn-primary">Jogar</a>
                {% if perms.hangman.change_tema %}
                    <a href="{% url 'atualizar_tema' tema.pk %}" class="btn btn-warning">Editar</a>
                {% endif %}
                {% if perms.hangman.delete_tema %}
                    <a href="#" class="btn btn-danger" hidden>Deletar</a>
                {% endif %}
                {% if perms.hangman.view_jogo %}
                    <a href="{% url 'listar_jogos' tema_id=tema.pk %}" class="btn btn-info">Listar Jogos</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        Ainda não há temas cadastrados.
    {% endfor %}
{% endblock %}