{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jogo da Forca</title>
   <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Jogo da Forca</h1>
        
        <div id="professorContainer">
            <label for="professorSelect">Escolha um Professor:</label>
            <select id="professorSelect" onchange="escolherProfessor()">
                <option value="">Selecione um professor</option>
                {% for professor in professores %}
                    <option value="{{ professor.id }}">{{ professor.nome }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div id="temaContainer" style="display:none;">
            <label for="temaSelect">Escolha um Tema:</label>
            <select id="temaSelect"></select>
            <button onclick="carregarJogo()">Carregar Jogo</button>
        </div>
        
        <div>
        <canvas id="forcaCanvas" width="200" height="250"></canvas>
        <div class="palavra-secreta" id="palavraSecreta">Nenhuma palavra carregada</div>
        </div>
        <div class="letras-escolhidas">
            <strong>Letras escolhidas:</strong> <span id="letrasEscolhidas">Nenhuma</span>
        </div>
        <div class="teclado" id="teclado"></div>

        <button onclick="location.href='{% url 'gerar_relatorio' %}'">Gerar Relatório</button>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
