{% extends 'base.html' %}
{% block content %}
    <form method="get" action="{% url 'gerar_relatorio' %}">
        <h1>Gerar relatório</h1>
        
        <label for="data_inicio" class="form-label">Data inicial</label>
        <input type="date" name="data_inicio" id="data_inicio" class="form-control">
        
        <label for="data_fim" class="form-label">Data final</label>
        <input type="date" name="data_fim" id="data_fim" class="form-control">
        
        <input type="hidden" name="tema" value="{{ jogos.0.tema.pk }}">
        
        <button type="submit" class="btn btn-success my-3">Gerar</button>
    </form>
    
    {% for jogo in jogos %}
        <p>{{ jogo }}</p>
    {% endfor %}
{% endblock %}
