<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Atividades dos Alunos</title>  
    <div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'gerar_pdf' %}" class="btn-pdf">Gerar PDF</a>
</div>
</head>
<body>
    <h1>Relatório de Atividades dos Alunos</h1>

    <table>
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Tema</th>
                <th>Data</th>
                <th>Palavras Jogadas</th>
                <th>Acertos</th>
                <th>Erros</th>
            </tr>
        </thead>
        <tbody>
            {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.aluno.nome }}</td>
                    <td>{{ jogo.tema.nome }}</td>
                    <td>{{ jogo.data_jogo|date:"d/m/Y" }}</td>
                    <td>{{ jogo.palavras_jogadas }}</td>
                    <td>{{ jogo.acertos }}</td>
                    <td>{{ jogo.erros }}</td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>

</body>

</html>
